:root {
  --cardinal: #BD1939;
  --magenta: #FF2650;
  --orange: #FF6433;
  --amber: #FFB934;
  --yellow: #FFEE5A;
  --primary-text: rgba(0, 0, 0, 0.87);
  --secondary-text: rgba(0, 0, 0, 0.54);
  --disabled-text: rgba(0, 0, 0, 0.38);
  --divider: rgba(0, 0, 0, 0.2);
  --primary-text-inverse: rgba(255, 255, 255, 1);
  --secondary-text-inverse: rgba(255, 255, 255, 0.7);
  --disabled-text-inverse: rgba(255, 255, 255, 0.5);
  --theme-colors: linear-gradient( to right, var(--cardinal) 0%, var(--cardinal) 20%, var(--magenta) 20%, var(--magenta) 40%, var(--orange) 40%, var(--orange) 60%, var(--amber) 60%, var(--amber) 80%, var(--yellow) 80%, var(--yellow) 100%);
  --theme-pattern-2: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewBox="0 0 239.99999 239.99999"><path fill="#ffb934" d="M0 0h60L0 60z"/><path fill="#ff6433" d="M60 60H0L60 0z"/><path fill="#bd1939" d="M120 0H60l60 60z"/><path fill="#ff2650" d="M60 60h60L60 0zM0 120h60L0 60z"/><path fill="#ffee5a" d="M60 60H0l60 60z"/><path fill="#ff2650" d="M120 120H60l60-60z"/><path fill="#ffb934" d="M60 60h60l-60 60zm60-60h60l-60 60z"/><path fill="#ff6433" d="M180 60h-60l60-60z"/><path fill="#ff2650" d="M240 0h-60l60 60z"/><path fill="#bd1939" d="M180 60h60L180 0z"/><path fill="#ffb934" d="M120 120h60l-60-60z"/><path fill="#ffee5a" d="M180 60h-60l60 60z"/><path fill="#ff6433" d="M240 120h-60l60-60z"/><path fill="#ff2650" d="M180 60h60l-60 60z"/><path fill="#ffb934" d="M0 120h60L0 180z"/><path fill="#ff2650" d="M60 180H0l60-60z"/><path fill="#ffee5a" d="M120 120H60l60 60z"/><path fill="#ffb934" d="M60 180h60l-60-60z"/><path fill="#bd1939" d="M0 240h60L0 180z"/><path fill="#ff6433" d="M60 180H0l60 60zm60 60H60l60-60z"/><path fill="#ffee5a" d="M60 180h60l-60 60z"/><path fill="#bd1939" d="M120 120h60l-60 60z"/><path fill="#ff6433" d="M180 180h-60l60-60z"/><path fill="#ffee5a" d="M240 120h-60l60 60z"/><path fill="#ff2650" d="M180 180h60l-60-60zm-60 60h60l-60-60z"/><path fill="#ffee5a" d="M180 180h-60l60 60z"/><path fill="#ff6433" d="M240 240h-60l60-60z"/><path fill="#ffb934" d="M180 180h60l-60 60z"/><path fill="#ff2650" fill-opacity=".502" d="M0 0h240v240H0z"/></svg>');
  color: var(--primary-text);
}

.display--block {
  display: block;
}

.height--100 {
  height: 100%;
}

.padding--2rem {
  padding: 2rem 0;
}

.margin-zero {
  margin: 0;
}

.text-color--magenta {
  color: var( --magenta);
}

.text-color--primary-text {
  color: var(--primary-text)
}

.text-color--secondary-text {
  color: var(--secondary-text)
}

.text-decoration--none {
  text-decoration: none;
}

.text-align--right {
  text-align: right;
}

.text-align--center {
  text-align: center;
}

.list--unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

#footer {
  background-color: var(--primary-text);
  border-left: 0;
  border-bottom: 0;
  border-right: 0;
  border-top-width: 0.5rem;
  border-top-color: var(--magenta);
  border-image-source: var(--theme-colors);
  border-image-slice: 1 1;
  border-image-width: 0.5rem 0 0 0;
  border-image-repeat: stretch;
}

#header {
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-flow: column;
  width: 100%;
  padding: 1rem 0;
  border-left: 0;
  border-bottom: 0;
  border-right: 0;
  border-top-width: 0.5rem;
  border-top-color: var(--magenta);
  border-image-source: var(--theme-colors);
  border-image-slice: 1 1;
  border-image-width: 0.5rem 0 0 0;
  border-image-repeat: stretch;
}

.sitename {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: 'Raleway', monospace;
  font-weight: 400;
  letter-spacing: 0.125em;
  color: var(--disabled-text);
}

@media (min-width: 64rem) {
  .sitename {
    text-align: left;
  }
}

.sitename img {
  max-height: 5rem;
  transition: all 0.3s;
}

@media (min-width: 64rem) {
  .sitename img {
    max-height: 5rem;
  }
}

.sitename img:hover {
  -webkit-filter: drop-shadow(0.125rem 0.125rem 0.2rem var(--disabled-text));
  filter: drop-shadow(0.125rem 0.125rem 0.2rem var(--disabled-text));
}

.sitename a {
  color: inherit;
}

.navigation {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
}

.navigation__item {
  box-sizing: border-box;
  display: block;
  padding: 0.25rem 0.5rem;
  border: 0;
  border-bottom: transparent solid 0.2rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  color: var(--secondary-text);
  letter-spacing: 0.2em;
}

.navigation__item:hover {
  color: var(--primary-text);
}

.navigation__item--selected {
  box-sizing: border-box;
  display: block;
  padding: 0.25rem 0.5rem;
  border: 0;
  border-bottom: var(--magenta) solid 0.2rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  color: var(--secondary-text);
  letter-spacing: 0.2em;
}

.navigation__item__link {
  text-decoration: none;
  color: inherit;
}

.postlist {
  list-style: none;
  padding: 0;
}

.postlist__item {
  display: block;
  padding: 1.5rem 0;
  border-bottom: rgba(0, 0, 0, 0.1) solid 0.063rem;
}

.postpreview {
  margin-bottom: 1rem;
}

.postpreview__header {
  color: var(--secondary-text);
  margin-bottom: 1rem;
  line-height: 1.25em;
}

.postpreview__title {
  color: var(--secondary-text);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
}

.postpreview__title:hover {
  color: var(--primary-text);
}

.postpreview__date {
  font-size: 0.75rem;
  color: var(--magenta);
  word-spacing: 0.1em;
}

.postpreview__excerpt {
  margin: 0;
  margin: 0.5rem 0;
  text-decoration: none;
  color: var(--secondary-text);
  font-size: 1rem;
  line-height: 1.25em;
}

.postpreview__footer {
  margin: 0;
  text-decoration: none;
  color: var(--disabled-text);
  font-size: 0.875rem;
}


/* Post preview featured */

.postpreview--featured {
  background-color: var(--orange);
  background-image: var(--theme-pattern-2);
  background-size: 6rem;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom-width: 0.5rem;
  border-bottom-color: var(--magenta);
  border-image-source: var(--theme-colors);
  border-image-slice: 1 1;
  border-image-width: 0 0 0.5rem 0;
  border-image-repeat: stretch;
}

.postpreview__cover--featured {
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  background-color: var(--disabled-text);
}

@media (min-width: 64em) {
  .postpreview__cover--featured {
    padding: 5rem 0;
  }
}

.postpreview__container--featured {
  display: flex;
  height: 100%;
  flex-flow: column;
  justify-content: center;
}

.postpreview__header--featured {
  margin: 3rem 0 1rem 0;
  color: var(--primary-text-inverse);
  text-align: center;
}

.postpreview__title--featured {
  color: inherit;
  text-decoration: none;
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

@media (min-width: 64em) {
  .postpreview__title--featured {
    font-size: 3rem;
  }
}

.postpreview__title--featured:hover {
  color: 0.125em 0 0.125em var(--primary-text);
}

.postpreview__excerpt--featured {
  margin: 0.5rem 0;
  text-decoration: none;
  text-align: center;
  color: var(--secondary-text-inverse);
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
}

@media (min-width: 64em) {
  .postpreview__excerpt--featured {
    font-size: 1.5rem;
  }
}

.postpreview__footer--featured {
  margin: 0;
  text-decoration: none;
  text-align: center;
  color: var(--disabled-text);
  font-size: 0.875rem;
}


/* Tag list */

.taglist--inline {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.taglist__item--inline {
  display: inline-block;
}

.taglist__item--inline::after {
  content: ',';
}

.taglist__item--inline:last-child::after {
  content: '';
}

.tag {
  text-decoration: none;
  color: var(--amber);
}

.tag::before {
  content: '#';
}

.tag:hover,
.tag:active {
  color: var(--yellow);
}

.tag:visited {
  color: var(--orange);
}

.tag:visited:hover {
  color: var(--cardinal);
}


/* Spacer */

.spacer {
  margin: 3rem 0;
  border: 0;
}

.continue {
  display: inline-block;
  border: 0;
  color: var(--magenta);
  font-size: 2rem;
  transform: rotate(90deg);
  content: '';
}


/* Pagination */

.pagination {
  text-align: center;
  margin: 3rem 0;
}

@media ( min-width: 64rem) {
  .pagination {
    text-align: right;
  }
}

.pagination a {
  color: var(--secondary-text);
  text-decoration: none;
}

.pagination a:hover {
  color: var(--magenta);
}

.pagination__current {
  color: var(--disabled-text);
}


/* Intro */

.bio__photo {
  width: 100%;
  border-radius: 50%;
}

.bio__header {
  margin: 1rem 0;
  text-align: center;
  color: var(--secondary-text-inverse);
  font-family: 'Raleway', sans-serif;
}

@media (min-width: 64em) {
  .bio__header {
    margin: 0;
    text-align: left;
  }
}

.bio__intro,
.bio__intro p {
  text-align: center;
  font-size: 1rem;
  color: var(--secondary-text-inverse);
  line-height: 1.5em;
}

@media (min-width: 64em) {
  .bio__intro,
  .bio__intro p {
    text-align: left;
  }
}

.bio__intro a {
  color: var(--amber);
  text-decoration: none;
}

.bio__intro a:hover {
  color: var(--yellow);
}


/* Disclaimer */

.disclaimer {
  padding: 0.5rem 0;
  background-color: var(--secondary-text);
  font-size: 0.750rem;
  color: var(--disabled-text-inverse);
  text-align: center;
}

.disclaimer p {
  margin: 0;
  padding: 0.5rem;
}

.disclaimer a {
  text-decoration: none;
  color: var(--secondary-text-inverse);
}

.disclaimer a:hover {
  text-decoration: none;
  color: var(--primary-text-inverse);
}


/* Headers */

.header {
  margin: 1rem 0;
  background-color: var(--magenta);
  background-size: 6rem;
}

.header__title {
  margin: 0;
  padding: 0.66rem 0;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--primary-text-inverse);
}


/* Social */

.social {
  padding: 0 0 3rem 0;
  font-size: 1rem;
  color: var(--disabled-text);
}

.social-a {
  text-decoration: none;
  color: var(--secondary-text);
}

.social-a:hover {
  text-decoration: none;
  color: var(--primary-text);
}

.social-link {
  display: inline-flex;
  margin: 0 0.2rem;
  padding: 0.34rem 1rem 0.33rem 1rem;
  border-radius: 0.2rem;
  background-color: var(--divider);
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--secondary-text);
}

.social-link:hover {
  opacity: 0.9;
}

.social-link--twitter {
  background-color: #4fafed;
  color: var(--primary-text-inverse);
}

.social-link--facebook {
  background-color: #4361b3;
  color: var(--primary-text-inverse);
}


/* Post */

.post {
  margin-bottom: 6rem;
}

.post__header {
  background-image: var(--theme-pattern-2);
  background-size: 6rem;
}

.post__cover {
  background-color: var(--disabled-text);
  height: 100%;
  width: 100%;
}

.post__title {
  margin: 0;
  padding: 6rem 0 1rem 0;
  word-spacing: 0.1em;
  font-family: 'Raleway', sans-serif;
  font-size: 2.75rem;
  font-weight: bold;
  color: var(--primary-text-inverse);
}

@media (min-width: 64em) {
  .post__title {
    padding: 10rem 0 1rem 0;
    font-size: 3rem;
  }
}

.post__lead {
  margin: 0;
  padding: 0 0 2rem 0;
  font-size: 1.5rem;
  color: var(--primary-text-inverse);
  font-family: 'Raleway', sans-serif;
}

@media (min-width: 64em) {
  .post__lead {
    font-size: 1.5rem;
  }
}

.post__info {
  margin: 0;
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: var(--secondary-text);
}

.post__content {
  font-size: 1.125rem;
}

.post__content p {
  line-height: 1.5em;
  color: var(--primary-text);
}

.post__content h1,
.post__content h2,
.post__content h3,
.post__content h4,
.post__content h5,
.post__content h6 {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: flex-end;
  font-family: 'Raleway', sans-serif;
  margin: 1.5em 0 1em 0;
  color: var(--cardinal);
}

.post__content h1 {
  font-size: 2.5rem;
}

.post__content h2 {
  font-size: 2rem;
  color: var(--magenta);
}

.post__content h3 {
  font-size: 1.5rem;
  color: var(--orange);
}

.post__content h4 {
  font-size: 1.25rem;
  color: var(--amber);
}

.post__content h5 {
  font-size: 1.125rem;
  color: var(--primary-text);
}

.post__content h6 {
  font-size: 1.125rem;
  color: var(--secondary-text);
}

.post__content img {
  margin: 2rem 0;
  width: 100%;
}

.post__content ul,
.post__content ol {
  margin: 3rem 0;
}

.post__content ul ul,
.post__content ul ol,
.post__content ol ul,
.post__content ol ol {
  margin: 0;
}

.post__content ul > li,
.post__content ol > li {
  margin: 1rem 0;
}

.post__content a {
  color: var(--magenta);
  text-decoration: none;
}

.post__content a:hover {
  text-decoration: underline;
}

.post__content a:visited {
  color: var(--cardinal);
}

.post__content figure {
  display: block;
  margin: 2rem 0;
}

.post__content figure .hljs {
  margin: 2rem 0 1rem 0;
}

.post__content figure p {
  margin: 0;
}

.post__content figure img {
  margin: 1rem 0;
}

.post__content figcaption,
.post__content figcaption p {
  display: block;
  margin-bottom: 5rem;
  padding: 0 3rem;
  text-align: center;
  line-height: 1.5em;
  font-size: 1rem;
  font-weight: 600;
  color: var(--secondary-text);
}

.post__content blockquote {
  margin: 1rem 1rem;
  padding: 1rem 0 1.5rem 2rem;
  border-left: var(--yellow) solid 0.5rem;
}

@media (min-width: 64rem) {
  .post__content blockquote {
    margin: 3rem 4rem;
    padding: 1rem 0 1.5rem 2rem;
  }
}

.post__content blockquote p {
  margin: 0;
  padding: 0;
  font-style: italic;
  font-size: 1.25rem;
  color: var(--secondary-text);
}

.post__content blockquote p a {
  color: var(--orange);
}

.post__content blockquote footer {
  margin: 1rem 0 0 0;
  font-size: 1rem;
  color: var(--disabled-text);
}

.post__content blockquote footer cite::before {
  content: ' — ';
}

.post__content blockquote footer cite a {
  color: var(--amber);
}

.post__content .hljs {
  margin: 1.5rem 0;
  padding: 1.5rem;
  border-radius: 0.125rem;
  font-size: 0.875rem;
}

@media (min-width: 64rem) {
  .post__content .hljs {
    margin: 2rem 0;
    padding: 2rem;
  }
}

.post__content .hljs code {
  display: block;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  font-size: 1rem;
}

.post__content code {
  display: inline-block;
  padding: 0 0.5rem;
  border-radius: 0.2rem;
  background-color: var(--primary-text);
  font-size: 1rem;
  color: var(--primary-text-inverse);
}

.post__content kbd {
  display: inline-block;
  padding: 0 0.5rem;
  border-radius: 0.2rem;
  background-color: var(--divider);
  font-size: 1rem;
  color: var(--secondary-text);
}

.post__content .header-anchor {
  box-sizing: border-box;
  padding: 0 1rem;
  text-align: center;
  font-weight: 400;
  color: var(--divider);
}

.post__content .header-anchor:hover {
  text-decoration: none;
  color: var(--yellow);
}

.post__content hr {
  margin: 3rem 0;
  border: 0;
  border-bottom: #ccc solid 1px;
}

.post__content table {
  border: #ccc solid 0.1rem;
  font-size: 0.875rem;
}

.post__content td,
.post__content th {
  padding: 0.75rem;
  border-top: #ccc solid 0.1rem;
  border-left: #ccc solid 0.1rem;
  color: var(--primary-text);
}

.post__content thead th {
  border-bottom: #ccc solid 0.125rem;
  color: var(--secondary-text);
}

.post__content .footnote-ref a {
  color: var(--disabled-text);
}

.post__content .footnote-ref a:hover {
  color: var(--amber);
  text-decoration: none;
}

.post__content abbr {
  cursor: help;
}

.post__content .footnotes {
  font-size: 0.875rem;
  color: var(--secondary-text);
}

.post__content .footnotes p {
  color: var(--secondary-text);
  margin: 0;
}

.post__content .footnote-backref {
  color: var(--disabled-text);
}

.post__content .footnote-backref:hover {
  color: var(--yellow);
  text-decoration: none;
}
