<% var uri = encodeURIComponent( url.substring( 0, url.lastIndexOf('index.html') ) ); %>
<a class="social-link social-link--facebook"
   href="#"
   onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=<%- uri %>', 'facebook-share-dialog', 'width=626,height=436'); return false;">
Facebook
</a>
